{% ckan_extends %}


 {% block home_image %}
    {% asset 'ckanext-feature-image/promoted-js' %}
    <input type="hidden" id='text_ajax' value="{{h.url_for('feature_image.get_text', _external=True)}}">
    <section class="featured media-overlay hidden-xs">
      <h2 id="feature_text" class="media-heading">{% block home_image_caption %}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img id="feature_image" class="img-responsive" src="{{h.url_for_static('/uploads/admin/feature_image')}}" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}